/* .my-photo{
    width: 300px;
    height: 200px;
}   
 
body{
    background-color: #2F343B;
}
 
.a{
    color: #D6EAF8;
}
.b{
    color: #FFFFF0;
} */
/* .input1 {
    width: 220px;
    height: 30px;
    margin: 10px;
    border-radius: 5px;

}

.btn {
    width: 220px;
    height: 40px;
    border-color: blue;
    color: white;
    background-color: blue;
    border: none;
    border-radius: 0px;
    cursor: pointer;

    margin: 10px;

} */
 /* Стили для страницы */
/* .a{ 
   background-color:blue; 
    color: #FFFFF0;
    font-size: 20px;
    
}
.logo{
    width: 150px;
    height: 150px;
    margin: auto;
    padding: 2px 5px 2px 1px;
}
body{
    margin: 1px;
   background-color: #FFF5E1 ; 
   width: 1100px;
   height: 70px;
}
#id{
    color: rgb(37, 18, 209);
}
.btn {
    width: 220px;
    height: 25px;
    border-color: blue;
    background-color: blue;
    border: none;
    border-radius: 5px;
    color: #FFFFF0;
} 
.fg{
    color: blue;
}   */

/* *{
    margin: auto;
    padding: auto;
    box-sizing: border-box;
    text-decoration: none; */
/* } */

